<h3>ユーザーの詳細</h3>
<%= link_to('新規登録', stocks_path, class: 'waves-effect waves-light btn') %>

<table>
  <tbody>
    <tr>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_admin_user_path, class: 'waves-effect waves-light btn' %>
<%= link_to '削除', [:admin, @user], method: :delete, data: { confirm: "ユーザー#{@user.name}を削除します。よろしいですか？" }, class: 'waves-effect waves-light btn red accent-2' %>
